# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# TypeScript build files
dist/
build/

# Miscellaneous
.DS_Store
*.tgz

# VS Code
.vscode/

# Local Testing
local-testing/*
coverage/
allure-report/
allure-results/
jest.html
